body {
  background-color: #a2d2ff;
}

a {
  color: inherit;
  text-decoration: inherit;
}

i:hover {
    color: white;
    transform: scale(1.2);
}

.icon:hover {
    color: #e1578a;
}

.icon:active {
    color: #e1578a;
}

.icon:visited {
    color: #e1578a;
}

.container {
  margin: 5% 15%;
  background-color: white;
  padding: 0;
}

.menu {
  background-color: #e1578a;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 0 0 150% 0;
}

.icon {
  margin: 20px;
  color: #99a799;
  text-align: center;
}

.bottom-menu {
  text-align: center;
  color: #e1578a;
  padding: 20px;
  margin: 150% 0 0 0;
}
