body {
  background-color: #a2d2ff;
}

a {
  color: inherit;
  text-decoration: inherit;
}

i:hover {
    color: white;
    transform: scale(1.2);
}



.icon:hover {
    color: #e1578a;
}

.icon:active {
    color: #e1578a;
}

.icon:visited {
    color: #e1578a;
}

.container {
  margin: 5% 15%;
  background-color: white;
  padding: 0;
}

.menu {
  background-color: #e1578a;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 0 0 150% 0;
}

.icon {
  margin: 20px;
  color: #99a799;
  text-align: center;
}

.bottom-menu {
  text-align: center;
  color: #e1578a;
  padding: 20px;
  margin: 150% 0 0 0;
}

.image {
    float: left;
    
}

.profile {
    width: 25%;
    height: 84%;
    position: absolute;
    bottom: 10%;
    left: 19%;
    box-shadow: 20px 20px 200px;
}

.image-word {
    color: white;
    position: absolute;
    bottom: 22%;
    left: 25%;
}

.name {
    font-family: 'Pacifico', cursive;
    transform: scale(1.5);
}

.image-nav {
    color: white;
    position:absolute;
    bottom: 15%;
    left: 24.5%;
}

.icon-menu {
    margin: 20px;
    color: white;
    text-align: center;
  }

.about-header {
    text-align: left;
    position: absolute;
    bottom: 78%;
    right: 40%;
    font-family: 'Pacifico', cursive;
    transform: scale(1.5);
}

.about-title {
    color: #e1578a;
    text-align: left;
    position: absolute;
    bottom: 72%;
    right: 28.5%;
    font-family: 'Pacifico', cursive;
    transform: scale(0.8);
}

.about-content {
    width: 30%;
    color: #9a9483;
    text-align: left;
    position: absolute;
    bottom: 54%;
    right: 21.5%;
    font-family: 'Exo', sans-serif;
    font-weight: bolder;
}

.hr {
    height: 1px;
    width: 30%;
    background-color: #99a799;
    position:absolute;
    bottom: 52%;
    right: 21.5%;
}

.service-header {
    text-align: left;
    position: absolute;
    bottom: 45%;
    right: 42.5%;
    font-family: 'Pacifico', cursive;
    transform: scale(1);
}

.service-icon {
    color: #e1578a;
    position: absolute;
    bottom: 38%;
    right: 49.5%;
}

.service-title {
    color: black;
    text-align: left;
    position: absolute;
    bottom: 34%;
    right: 44%;
    font-family: 'Pacifico', cursive;
    transform: scale(1);
}

.service-content {
    width: 15%;
    color: #9a9483;
    text-align: left;
    position: absolute;
    bottom: 20%;
    right: 36.8%;
    font-family: 'Exo', sans-serif;
    font-weight: bolder;
}

.service1-icon {
    color: #e1578a;
    position: absolute;
    bottom: 38%;
    right: 30.5%;
}

.service1-title {
    color: black;
    text-align: left;
    position: absolute;
    bottom: 34%;
    right: 26.5%;
    font-family: 'Pacifico', cursive;
    transform: scale(1);
}

.service1-content {
    width: 14%;
    color: #9a9483;
    text-align: left;
    position: absolute;
    bottom: 20%;
    right: 18.2%;
    font-family: 'Exo', sans-serif;
    font-weight: bolder;
}